@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: black;
    overflow-x: hidden;
}


body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.main .bgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: black;
    filter: opacity(0.69);
    z-index: 1;
    display: block;

}


.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}



nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

.box {
    height: 650px;
    width: 430px;
    background-color: #00000088;
    border-radius: 3px;
    display: grid;
    position: relative;
    justify-self: center;
    align-self: center;
    z-index: 10;
}

.box .text {
    font-size: 20px;
    color: white;
    width: 200px;
    height: 50px;
    position: absolute;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 33px;
    margin: 60px;
}

.hemail {
    height: 130px;
    width: 400px;
    /* border: 2px solid #fff; */
    position: relative;
    top: 130px;
    display: grid;
    justify-self: center;
}

.email {
    height: 55px;
    width: 300px;
    background-color: #00000088;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    font-size: 16px;
    padding: 0px 20px;
    justify-self: center;
    color: #ffffff;
}

.email:hover {
    outline: 1px solid rgba(255, 0, 0, 0.696);
}

.btn {
    height: 45px;
    width: 340px;
    background-color: #ff0000;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    justify-self: center;
    padding: 0px 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    position: absolute;
    top: 160px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ef0303;
}

.text2 {
    position: relative;
    color: #9a9a9a;
    display: flex;
    justify-self: center;
    align-self: center;
    top: 90px;

}

.btn2 {
    display: flex;
    width: 300px;
    background-color: #dedede2a;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    justify-self: center;
    padding: 0px 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    top: 270px;
    cursor: pointer;
    justify-content: center;
    height: 45px;
    align-items: center;
}

.btn2:hover {
    background-color: #9a9a9a3c;
}

.text3 {
    color: #fff;
    position: absolute;
    display: flex;
    font-size: 14px;
    justify-self: center;
    top: 335px;
}

.text3:hover {
    text-decoration: underline;
    color: #d3d3d3b0;

}

.text4 {
    color: #afafaf;
    position: absolute;
    font-size: 14px;
    display: flex;
    top: 370px;
    left: 32px;
    font-family: 'Poppins', sans-serif;
}

.text4 a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;

}

.text4 a:hover {
    text-decoration: underline;
}

.text5 {
    width: 400px;
    position: absolute;
    padding: 10px 30px;
    opacity: 0.65;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    top: 395px;
    left: -55px;
}

.text6 {
    color: #d3d3d3;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.65;
    position: relative;
    bottom: 150px;
    top: 295px;
    left: 32px;
}

.text6 a {
    color: #0080ff;
    text-decoration: none;
}

.text6 a:hover {
    text-decoration: underline;
}

.faq h1 {
    color: #ffffff;
    font-size: 50px;
    display: flex;
    justify-self: center;
    position: relative;
    padding: 50px;
}

.q {
    width: 75vw;
    border: none;
    border-radius: 1px;
    display: flex;
    justify-self: center;
    color: white;
    font-size: 24px;
    padding: 20px;
    justify-content: space-between;
    background-color: #343433;
    margin: 34px auto;
    cursor: pointer
}

.q img {
    color: white;
    height: 20px;
    display: flex;
    align-self: center;
}

.q:hover {
    background-color: #434343;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
    position: relative;
    top: 100px;
    height: 300px;
    top: 280px;
}

.footer-item a {
    display: flex;
    flex-direction: column;
    color: #979797;

}

.footer-item a:hover {
    color: rgba(205, 0, 0, 0.832);
}

.foottext {
    color: #979797;
    position: relative;
    width: 270px;
    height: 30px;
    /* border: 1px solid #ffffff; */
    left: 295px;
    top: 230px;
}

.foottext span {
    text-decoration: underline;
    cursor: pointer;
}

.lang2 {
    left: 295px;
    bottom: 65px;
    padding: 5px 17px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    background-color: #00000068;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    right: 10px;
    z-index: 10;
    top: 85px;
}

.foottext2 {
    position: relative;
    color: #979797;
    left: 295px;
    bottom: 40px;
    /* border: 1px solid #ffffff; */
    max-width: 95px;
    top: 95px;
}

@media screen and (max-width: 1300px) {
    
    .footer {
        display: grid;
        grid-template-columns: 0fr;
        max-width: 60vw;
        margin: auto;
        position: relative;
        top: 100px;
        height: 300px;
        top: 280px;
    }

    .foottext{
        left: 85px;
    }

}
